.search {
    display: flex;
    position: relative;
}

.search-text {
    position: relative;
    top: 10%;
    left: 120%;
    border: 0.1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.search-img {
    position: relative;
    top: 20%;
    left: 112%;
    width: 4%;
}

.headers-container {
    background-color: white;
    display: flex;
    border: 2.5px solid lightskyblue;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.headers-container div {
    font-weight: 500;
}

.category-list div, .headers-container div {
    width: 20%;
    font-size: 18pt;
}

.category-list {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-list:hover {
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    transition: 0.25s;
}

.category-delete input, .category-update input, .submit {
    position: relative;
    bottom: 8%;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
}

.category-delete input {
    border: 2px solid rgb(200, 60, 60);
    background-color: rgb(255, 225, 225);
}

.category-delete input:hover {
    background-color: rgb(255, 190, 190);
    transition: 0.2s;
}

.category-update input {
    border: 2px solid rgb(100, 150, 255);
    background-color: rgb(225, 250, 255);
}

.category-update input:hover {
    background-color: rgb(190, 250, 255);
    transition: 0.2s;
}

.add {
    font-size: 18pt;
    border: 5px solid lightskyblue;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
}

.add input {
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.add input, .add label {
    padding-bottom: 10px;
    margin: 10px;
    font-weight: 500;
}

.category-name {
    width: 90%;
}

.add input[type=submit] {
    width: 30%;
    margin-left: 35%;
    background-color: rgb(240, 240, 240);
}

.add input[type=submit]:hover {
    background-color: rgb(230, 230, 230);
    transition: 0.2s;
}