.search {
    display: flex;
    position: relative;
}

.search-text {
    position: relative;
    top: 10%;
    left: 120%;
    border: 0.1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.search-img {
    position: relative;
    top: 20%;
    left: 112%;
    width: 4%;
}

.headers-container {
    display: flex;
    border: 0.1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.headers-container div {
    font-weight: 500;
}

.task div, .headers-container div {
    width: 20%;
    font-size: 18pt;
}

.task {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task:hover {
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    transition: 0.25s;
}

.task-done input, .task-update input, .submit {
    position: relative;
    bottom: 8%;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
}

.task-done input {
    border: 2px solid rgb(60, 200, 100);
    background-color: rgb(225, 255, 225);
}

.task-done input:hover {
    background-color: rgb(200, 250, 200);
    transition: 0.2s;
}

.task-update input {
    border: 2px solid rgb(120, 160, 255);
    background-color: rgb(225, 250, 255);
}

.task-update input:hover {
    background-color: rgb(190, 250, 255);
    transition: 0.2s;
}

.add {
    font-size: 18pt;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
}

.add input, .add select {
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.add input, .add label {
    padding-bottom: 10px;
    margin: 10px;
    font-weight: 500;
}

.add-select {
    width: 50%;
}

.description, .date {
    width: 90%;
}

.add input[type=submit] {
    width: 30%;
    margin-left: 35%;
    background-color: rgb(240, 240, 240);
}

.add input[type=submit]:hover {
    background-color: rgb(230, 230, 230);
    transition: 0.2s;
}