<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ToDoList - Add Task</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        
        <!-- Nav Bar: -->

        <nav>
            <div class="nav-container">
                <div class="project-name">
                    <div class="actual-name">ToDoList Project</div>
                    <div class="my-name">Lotem</div>
                </div>

                {% for tab in tabs %}
                <div class="seperator"></div>
                <div class="tab">
                    <a href="{{tab['tab_url']}}">{{tab["tab_name"]}}</a>
                </div>
                {% endfor %}

            </div>
        </nav>

        <!-- Add Section: -->

        <section>
            <div class="add-container">

                <div class="bigheader-container margin">
                    <div class="bigheader">Add a Task:</div>
                </div>

                <div class="add margin">
                    <form action="/add-task-db" method="get">
                        <!-- Category -->
                        <label for="category">Choose a category:</label>
                        <select name="categories" id="categories">
                            {% for category in categories %}
                            <option value="{{category['category_name']}}">{{category['category_name']}}</option>
                            {% endfor %}
                        </select> <br>

                        <!-- Description -->
                        <label for="description">Enter description:</label>
                        <input type="text" name="description" placeholder="Description" class="description"> <br>

                        <!-- Date -->
                        <label for="date">Choose date:</label>
                        <input type="date" name="date" class="date"> <br>

                        <input type="submit" value="Add Task" class="submit">
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>