<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ToDoList - Add Task</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        
        <!-- Nav Bar: -->
        <nav>
            <div class="nav-container">
                <!-- Project Name -->
                <div class="project-name">
                    <div class="actual-name">ToDoList Project</div>
                    <div class="my-name">Lotem</div>
                </div>

                <div class="seperator"></div>

                <!-- All Tasks Tab -->
                <div class="tasks tab">
                    <a href="/">All Tasks</a>
                </div>

                <div class="seperator"></div>

                <!-- Add a Tasks Tab -->
                <div class="addtask tab">
                    <a href="/add-task">Add a Task</a>
                </div>

                <div class="seperator"></div>

                <!-- All Categories Tab -->
                <div class="allcategories tab">
                    <a href="/categories">All Categories</a>
                </div>

                <div class="seperator"></div>

                <!-- Add Category Tab -->
                <div class="addcategory tab">
                    <a href="/add-category">Add a Category</a>
                </div>
            </div>
        </nav>



        <!-- Add Section: -->
        <section>
            <div class="add-container">

                <div class="bigheader-container margin">
                    <div class="bigheader">Add a Task:</div>
                </div>

                <div class="add margin">
                    <form action="/add-task-db" method="get">
                        <!-- Category -->
                        <label for="category">Choose a category:</label>
                        <select name="categories" id="categories">
                            {% for category in categories %}
                            <option value="{{category['category_name']}}">{{category['category_name']}}</option>
                            {% endfor %}
                        </select> <br>

                        <!-- Description -->
                        <label for="description">Enter description:</label>
                        <input type="text" name="description" placeholder="Description" class="description"> <br>

                        <!-- Date -->
                        <label for="date">Choose date:</label>
                        <input type="date" name="date" class="date"> <br>

                        <input type="submit" value="Add Task" class="submit">
                    </form>
                </div>

            </div>
        </section>
        
    </body>
</html>