<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ToDoList - All Categories</title>
        <link rel="stylesheet" href="static/css/categories-style.css">
    </head>
    <body>

        <!-- Nav Bar: -->
        
        <nav>
            <div class="nav-container">
                <div class="project-name">
                    <div class="actual-name">ToDoList Project</div>
                    <div class="my-name">Lotem</div>
                </div>

                {% for tab in tabs %}
                    <div class="seperator"></div>
                    <div class="tab">
                        <a href="{{tab['tab_url']}}">{{tab["tab_name"]}}</a>
                    </div>
                {% endfor %}

            </div>
        </nav>

        <!-- All Categories: -->

        <div class="categories-container margin">

            <div class="bigheader-container">
                <div class="bigheader">All Categories:</div>
                <div class="search">
                    <form action="" method="get">
                        <input class="search-text" type="text" placeholder="Search category..." class="search-img">
                        <input class="search-img" type="image" src="static/images/search-icon.png" onclick="SubmitEvent()">
                    </form>
                </div>
            </div>

            <!-- All Categories - headers: -->

            <div class="headers-container">
                <div class="category-header">Category Name</div>
            </div>

            <!-- All Categories - Items: -->

            {% for category in categories %}
            <div class="category-list">
                <div class="category_name">{{category['category_name']}}</div>

                <div style="visibility: hidden;"></div>
                <div style="visibility: hidden;"></div>

                <div class="category-delete button">
                    <a href="/delete-category?category_id={{category['category_id']}}">
                        <input type="button" value="Delete">
                    </a>
                </div>
                
                <div class="category-update button">
                    <a href="">
                        <input type="button" value="Update">
                    </a>
                </div>
                
            </div>
            {% endfor %}
        </div>


        
    </body>
</html>