<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home - All Tasks</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        

        <!-------------------- Nav Bar: -------------------->
        <nav>
            <div class="nav-container">

                <!--------- All Tasks --------->
                <div class="tasks">
                    <a href="/">All Tasks</a>
                </div>

                <!--------- Add Tasks --------->
                <div class="addtask">
                    <a href="/add">Add Task</a>
                </div>

                <!--------- Search --------->
                <div class="search">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
        </nav>



        <!-------------------- All Tasks: -------------------->
        <section>
            <div class="tasks-container">
                <!-- pass -->
            </div>
        </section>

    </body>
</html>