<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ToDoList - All Tasks</title>
        <link rel="icon" href="static/images/web-icon.png" type="image/x-icon">
        <link rel="stylesheet" href="static/css/tabs-style.css">
        <link rel="stylesheet" href="static/css/tasks-style.css">
    </head>
    <body>

        <!-- Nav Bar: -->
        <nav>
            <div class="nav-container">
                <div class="project-name">
                    <div class="actual-name">ToDoList Project</div>
                    <div class="my-name">Lotem</div>
                </div>

                {% for tab in tabs %}
                    <div class="seperator"></div>
                    <div class="tab">
                        <a href="{{tab['tab_url']}}" class="{{tab['tab_name']}}" >{{tab["tab_name"]}}</a>
                    </div>
                {% endfor %}
            </div>
        </nav>

        <!-- All Tasks: -->
        <section>
            <div class="tasks-container margin">

                <div class="bigheader-container">
                    <!-- Header: -->
                    <div class="bigheader">
                        《 All Tasks: 》
                    </div>

                    <!-- Search: -->
                    <div class="search">
                        <form action="/search-task" method="get">
                            <input class="search-text" name="search-value" type="text" placeholder="Search task...">
                            <input class="search-img" type="image" src="static/images/search-icon.png" onclick="SubmitEvent()">
                        </form>
                    </div>
                </div>

                <!-- All tasks - headers: -->
                <div class="headers-container">
                    <div class="category-header">Category</div>
                    <div class="description-header">Description</div>
                    <div class="date-header">Date</div>
                </div>

                <!-- All tasks - Items: -->
                {% for task in tasks %}
                <div class="task">
                    <div class="category">{{task["category"]}}</div>
                    <div class="description">{{task["description"]}}</div>
                    <div class="date">{{task["date"]}}</div>

                    <div class="task-done button">
                        <a href="/delete-task?task_id={{task['task_id']}}">
                            <input type="button" value="Done">
                        </a>
                    </div>
                    
                    <div class="task-update button">
                        <a href="/update-task?task_id={{task['task_id']}}">
                            <input type="button" value="Update">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </body>
</html>